body {
    background-color: #FF6446;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-self: center;
}
#big {
    width: 250px;
    height: 250px;
    border: 2px solid black;
    background-color: #F5DEB3;
   
}

.small {
    background-color: teal;
    border:2px solid white;
    width: 50px;
    height: 50px;
    margin: 25px 0;
}

#middle {
    width: 200px;
    height: 50px;
    background-color:teal;
    border: 2px dashed white;

}