.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 20px 0px;
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.nav__list {
    display: flex;
    justify-content: space-around;

}
.nav__link {
    position: relative;
    color: #2e363e;
}
.nav__notification {
    background-color: tomato;
    width: 25px;
    height: 25px;
    display: block;
    border-radius: 12.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    position: absolute;
    left: 25px;
    bottom: 15px;
}

.nav__dot {
    background-color: tomato;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    display: flex;
    position: absolute;
    left: 30px;
    bottom: 30px;
}