.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  padding-top: 40px;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
  opacity: 80%;
  position: relative;
}

.screen-header__icons2 {
  background-color: rgb(255, 255, 255);
  font-size: large;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  display: block;
  position: absolute;
  left: 15px;
  bottom: 6px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen__dot {
  left: 75px;
  bottom: 25px;
  display: flex;
}

.screen-header__icons-dot {
  display: flex;
  left: 125px;
  bottom: 25px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 2s ease-in-out infinite;
}
